<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TypeDNA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/graph-styles.css" rel="stylesheet" media="all">
    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <script>
      /* Add date picker widgets on platforms that don't have them. */
      if (!hasDatePicker()) {
        $(function() {
          $('input[type="date"]').datepicker();
        });
      }

      /* Stolen from: http://stackoverflow.com/a/10199306 */
      function hasDatePicker() {
        var input = document.createElement('input');
        input.setAttribute('type','date');

        var notADateValue = 'not-a-date';
        input.setAttribute('value', notADateValue);

        return (input.value !== notADateValue);
      }

      function loadProject(type) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var filter = getFilters();
            var results = createTable(JSON.parse(xhttp.responseText), filter);
            patchInputs(results);
          }
        };

        var arg = "get_project";
        arg += "?type=" + type;

        xhttp.open("GET", arg, true);
        xhttp.send();
      }

      function redrawTable() {
        var filter = getFilters();
        createTable2(filter);
      }

      function getFilters() {
        start_date = null;
        end_date = null;

        var timestamp = Date.parse($("#min-datepicker").val())
        if (isNaN(timestamp) == false) {
          start_date = new Date(timestamp);
        }

        timestamp = Date.parse($("#max-datepicker").val())
        if (isNaN(timestamp) == false) {
          end_date = new Date(timestamp);
        }

        return {
          start: start_date,
          end: end_date,
          stepSize: $("#step").val(),
          limit: +$("#filter").val()
        };
      }

      /* Given the fully processed and filtered results, patches the inputs on
       * the page (specifically, the date inputs) with the correct dates. */
      function patchInputs(results) {
        var maxDate = toISODate(results.absoluteMaxDate);
        var minDate = toISODate(results.absoluteMinDate);

        /* Set the min and max ranges on the components. */
        $('#min-datepicker').attr('min', minDate);
        $('#max-datepicker').attr('min', minDate);
        $('#min-datepicker').attr('max', maxDate);
        $('#max-datepicker').attr('max', maxDate);

        /* Patch the actual values. */
        $('#min-datepicker').val(minDate);
        $('#max-datepicker').val(maxDate);

        function toISODate(date) {
        assert(date instanceof Date);
          return date
            .toISOString()
            .split('T')[0];
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
        var type = $("#type-select").val();
        loadProject(type);

        //$(".filter_info").on("change", function(){
        //  redrawTable();
        //});

        $("#type-select").on("change", function(){
          var type = $("#type-select").val();
          loadProject(type);
        });
      });

      function toggleAuthors() {
        $("#authors").toggleClass( "collapse" );
      }

      function toggleStats() {
        $("#stats").toggleClass( "collapse" );
      }

      function toggleFilters() {
        $("#filters").toggleClass( "collapse" );
      }
    </script>
  </head>
  <body class="colorblind-safe">
    <div class="container-fluid">
      <nav class="row">
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="#" onclick="toggleAuthors()">Author View</a>
          </li>
          <li role="presentation">
            <a href="#" onclick="toggleStats()">Stats View</a>
          </li>
          <li role="presentation">
            <a href="#" onclick="toggleFilters()">Filters View</a>
          </li>
          <li role="presentation">
            <a href="#" onclick="redrawTable()">Update Table</a>
          </li>
        </ul>
      </nav>
      <nav class="row">
        <div id="filters" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Filters</b>
          </div>
          <div class="panel-body">
            <label> Starting from
              <input class="text filter_info" value="" type="date" id="min-datepicker" name="min">
            </label>
            <label> to
              <input class="text filter_info" value="" type="date" id="max-datepicker" name="max">
            </label>

            <label> Cluster by
              <select id="step" class="filter_info">
                <option value="hour">Hour</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month" selected>Month</option>
              </select>
            </label>

            <label> Show classes
              <select id="filter" class="filter_info">
                <option value="10" selected> Top 10 </option>
                <option value="50"> Top 50 </option>
                <option value="100"> Top 100 </option>
                <option value="250"> Top 250 </option>
                <option value="500"> Top 500 </option>
                <option value="1000"> Top 1000 </option>
                <option value="Infinity"> All </option>
              </select>
            </label>

            <label> Types
              <select id="type-select" class="filter_info">
                <option value="Declarations">Declarations</option>
                <option value="Types" selected>Types (Declarations + Invocations)</option>
                <option value="Invocations">Invocations</option>
              </select>
            </label>
          </div>
        </div>
      </nav>

      <nav class="row">
        <div id="stats" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Stats</b>
          </div>
          <div id="stats-body" class="panel-body">
            
          </div>
        </div>
      </nav>

      <nav class="row">
        <div id="authors" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Authors</b>
          </div>
          <div class="panel-body">
            {% for author in authors %}
              <div class="checkbox">
                <label><input type="checkbox" value="{{ author }}">{{ author }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </nav>

      <main class="row">
        <div id="dna-table" class="dna-table">
        </div>
      </main>
    </div>
    <script src="/js/generate_table.js"></script>
  </body>
</html>
