<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ name }} — TypeV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/chosen.min.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="/css/styles.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/graph-styles.css" rel="stylesheet" media="all">

    <!-- We load a lot of libraries! -->
    <script src="/js/lib/jquery-1.12.2.min.js"></script>
    <script src="/js/lib/d3.v3.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/jquery-ui.min.js"></script>
    <script src="/js/lib/chosen.jquery.min.js"></script>
    <script src="/js/lib/system-csp-production.js"></script>
    <script>
      System.config({
        bundles: {
          '/js/index.js': ['index']
        }
      });
      System.import('index');
    </script>

  </head>
  <body class="colorblind-safe">
    <div class="container-fluid wrapper">
      <nav class="row">
        <ul class="nav nav-pills">
          <li class="active" role="presentation">
            <a href="#">Overview</a>
          </li>

          <!-- This one isn't quite ready... -->
          <li class="hidden" aria-hidden role="presentation">
            <a href="#" onclick="toggleView()">
              <span class="glyphicon glyphicon-filter" aria-hidden></span>
              Toggle View
            </a>
          </li>

          <li role="presentation">
            <a id="toggle-stats" href="#" onclick="toggleStats()">
              <span class="glyphicon glyphicon-dashboard" aria-hidden></span>
              Details
            </a>
          </li>

          <li role="presentation">
            <a href="#" onclick="toggleFilters()">
              <span class="glyphicon glyphicon-filter" aria-hidden></span>
              Data Filters
            </a>
          </li>

          <li role="presentation">
            <a href="#" onclick="toggleAuthors()">
              <span class="glyphicon glyphicon-user" aria-hidden></span>
              Manage Authors
            </a>
          </li>
        </ul>
      </nav>

      <nav class="row">
        <div id="filters" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Filters</b>
          </div>
          <div class="panel-body">
            <label> Filter types
              <input class="text filter_info" placeholder="No type filter" value="" type="text" id="type-filter" name="filter">
            </label>

            <label> Starting from
              <input class="text filter_info" value="" type="date" id="min-datepicker" name="min">
            </label>
            <label> to
              <input class="text filter_info" value="" type="date" id="max-datepicker" name="max">
            </label>

            <label> Cluster by
              <select id="step" class="filter_info">
                <option value="hour">Hour</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month" selected>Month</option>
              </select>
            </label>

            <label> Show 
              <select id="filter" class="filter_info">
                <option value="10" selected> Top 10 </option>
                <option value="50"> Top 50 </option>
                <option value="100"> Top 100 </option>
                <option value="250"> Top 250 </option>
                <option value="500"> Top 500 </option>
                <option value="1000"> Top 1000 </option>
                <option value="Infinity"> All </option>
              </select>
            </label>

            <label> Types
              <select id="type-select" class="filter_info">
                <option value="Declarations">Declarations</option>
                <option value="Types" selected>Types (Declarations + Invocations)</option>
                <option value="Invocations">Invocations</option>
              </select>
            </label>

            <a class="btn btn-primary" href="#" onclick="redrawTable()">Update Table</a>
          </div>
        </div>
      </nav>

      <nav class="row">
        <div id="stats" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Stats</b>
          </div>
          <div id="stats-body" class="panel-body">
            <footer>
              <a class="btn btn-link btn-sm" id="csv-link" href="">
                <span class="glyphicon glyphicon-download" aria-hidden></span>
                Download CSV
              </a>
            </footer>
          </div>
        </div>
      </nav>

      <nav class="row">
        <div id="authors" class="panel panel-default collapse">
          <div class="panel-heading">
            <b>Authors</b>
          </div>
          <div id="authors-selector" class="panel-body">
            <a href="#" onclick="uncheckAuthors()">Deselect All</a>

            <ul id="authors-list" class="authors-list list-unstyled">
              <!-- Will be populated by JavaScript -->
            </ul>
          </div>
        </div>
      </nav>

      <main class="row">
        <div id="dna-table" class="dna-table"></div>
        <div id="stats-table" class="stats-table collapse">
          <section>
            <h1> Types over time </h1>
            <div id="types-over-time"></div>
          </section>

          <section>
            <h1> Coverage by author </h1>
            <div id="coverage-by-author"></div>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
