<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Projects — TypeV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet" media="all">

  </head>
  <body>
    <main class="container">
      <header>
        <h1> TypeV </h1>
        <h2> Available Projects </h2>
      </header>
      <div class="list-group">
      {% for project in projects %}
        <a href="/projects/{{ project.getDir() }}/" class="list-group-item">{{ project.getDir() }}</a>
      {% endfor %}
      </div>
    </main>
  </body>
</html>
