<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TypeDNA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="/css/bootstrap-theme.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/graph-styles.css" rel="stylesheet" media="all">
    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!--script src="./js/table.js"></script-->
    <!--script src="/js/table_example.js"></script-->
    <script>
      /* Add date picker widgets on platforms that don't have them. */
      if (!hasDatePicker()) {
        $(function() {
          $('input[type="date"]').datepicker();
        });
      }

      /* Stolen from: http://stackoverflow.com/a/10199306 */
      function hasDatePicker() {
        var input = document.createElement('input');
        input.setAttribute('type','date');

        var notADateValue = 'not-a-date';
        input.setAttribute('value', notADateValue); 

        return (input.value !== notADateValue);
      }

      function loadProject() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            debugger;
           //document.getElementById("demo").innerHTML = xhttp.responseText;
            var filter = getFilters();
           createTable(JSON.parse(xhttp.responseText), filter);
           debugger;
          }
        };
        xhttp.open("GET", "get_project", true);
        xhttp.send();
      }

      function redrawTable() {
        var filter = getFilters();
        createTable2(filter);
      }

      function getFilters() {
        return {
          start: $("#min-datepicker").val(),
          end: $("#max-datepicker").val(),
          stepSize: $("#step").val(),
          limit: +$("#filter").val()
        };
      }

      document.addEventListener('DOMContentLoaded', function () {
        loadProject();

        $(".filter_info").on("change", function(){
          redrawTable();
        });
      });

      function toggleAuthors() {
        $("#authors").toggleClass( "collapse" ); 
      }
    </script>
  </head>
  <body class="colorblind-safe">
    <div id="demo"></div>
    <div class="container-fluid">
      <nav class="row">
        <div class="col-xs-6 col-md-4">
          <ul class="nav nav-pills">
            <li role="presentation" class="active">
              <a href="#" onclick="redrawTable()">Project Flow</a>
            </li>
            <li role="presentation">
              <a href="#" onclick="toggleAuthors()">Author View</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-8 date-range">
          <!-- TODO: Make this like... a month ago... -->
          <label> Starting from
            <input class="text filter_info" value="" type="date" id="min-datepicker" name="min">
          </label>
          <label> to
            <input class="text filter_info" value="" type="date" id="max-datepicker" name="max">
          </label>

          <label> Cluster by
            <select id="step" class="filter_info">
              <option value="hour">Hour</option>
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month" selected>Month</option>
            </select>
          </label>

          <label> Show classes
            <select id="filter" class="filter_info">
              <option value="10"> Top 10 </option>
              <option value="50"> Top 50 </option>
              <option value="100"> Top 100 </option>
              <option value="250"> Top 250 </option>
              <option value="500"> Top 500 </option>
              <option value="1000"> Top 1000 </option>
              <option value="Infinity" selected> All </option>
            </select>
          </label>

        </div>
      </nav>

      <main class="row">
        <div id="authors" class="collapse">
          {% for author in authors %}
            <div class="checkbox">
              <label><input type="checkbox" value="{{ author }}">{{ author }}</label>
            </div>
          {% endfor %}
        </div>
        <div id="dna-table" class="dna-table">
        </div>
      </main>
    </div>
    <script src="/js/generate_table.js"></script>
  </body>
</html>
