/**
 * Colour scheme from:
 * http://colorbrewer2.org/?type=diverging&scheme=RdBu&n=3
 */
.cell > .ast-additions { fill: #67a9cf; }
.cell > .ast-deletions { fill: #ef8a62; }

body:not(.colorblind-safe)
.cell > .ast-additions { fill: #a6f3a6; }
body:not(.colorblind-safe)
.cell > .ast-deletions { fill: #f8cbcb; }

.row .type-title { font-weight: bold; }

.cell .cell-outline {
    fill: none;
}

svg.main-figure {
    /* A little margin at the bottom to make room for the floating axis. */
    margin-bottom: 3em;
}

/* Have this stick to the bottom. */
svg.time-axis {
    height: 3em;

    background-color: rgba(255, 255, 255, 0.9);
}

/* Make the tick labels for years bold. */
.time-axis text.year-tick {
    font-weight: bold;
    font-size: larger;
}

/* This needs to be position relative so that... */
.dna-table {
    position: relative;
}

/* ...this will be positioned relative to the dna-table. */
.dna-table svg.time-axis.axis-on-bottom {
    position: absolute;
    bottom: 0;
    /* top: must be set by JavaScript. */
}

.dna-table svg.time-axis.axis-floating {
    position: fixed;
    bottom: 0;
}

/* The line chart! */
svg.types-over-time {
    overflow: visible;
}
path.line-chart {
    fill: none;
    stroke: #67a9cf;
    stroke-width: 3px;
}
