@charset "UTF-8";

/**
 * The main styles for the entire site.
 */

div.wrapper {
  margin: .5em .75em;
}

/* Clearfix. */
.author-configuration .panel-body:after {
  clear: all;
}

.author-configuration .panel-body > label {
  float: left;
  margin-left: 1em;
}

.author-configuration .panel-body > label:first-of-type {
  margin-left: 0;
}

select.author-aliases {
  min-width: 350px;
}

/* Adds a cool greyed-out effect for inactive links. */
a[href=''] {
  opacity: 0.6;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}

.author-configuration.disabled,
.author-configuration.disabled * {
  /* I know, !important is bad, but Chosen's CSS has absurd specificity. */
  cursor: not-allowed !important;
}

.author-configuration.disabled {
  opacity: 0.4;
}

/* Make cells look clickable. */ 
.cell { cursor: pointer; }
.cell:hover { opacity: 0.8; }

/* Blur out sensitive information. */
.sensitive {
  filter: blur(4px);
  cursor: default;
}
